extends ../layout

block content
  h1 sign up
  form(action="/register",method="post")
        .form-group
            label(for="name") Enter Name
            input#name(type="text",class="form-control" name="name")
        .form-group
            label(for="email") Enter Email
            input#email(type="text",class="form-control" name="email")
        .form-group
            label(for="password") Enter password
            input#price(type="password",class="form-control" name="password")   
        input(type="submit", class="btn btn-info", value="Register")