extends ../layout

block content
    h1 Add New Product
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Name Of Item
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="price") Price Of Item
            input#price(type="text", class="form-control", name="price")
        .form-group
            label(for="discription") Description of Item
            input#discription(type="text", class="form-control", name="discription")
        .form-group
            label(for="rating") Rating for Item
            select#rating(class="form-control", name="rating")
                option 1
                option 2
                option 3
                option 4
                option 5
        input(type="submit", class="btn btn-info")
    